<div id="footer">
  <div id="footer-logos">
    <img src="http://www.livenationentertainment.com/content/img/global/footer-img-1.png" alt="Live Nation logo link">
    <img src="http://www.livenationentertainment.com/content/img/global/footer-img-2.png" alt="ticketmaster logo link">
    <img src="http://www.livenationentertainment.com/content/img/global/footer-img-4.png" alt="Live Nation Media & Entertainment logo link">
    <img src="http://www.livenationentertainment.com/content/img/global/footer-img-3.png" alt="House Of Blues logo link">
    <img src="http://www.livenationentertainment.com/content/img/global/footer-img-5.png" alt="Live Nation Productions logo link">
  </div>
  <div id="map-links">
    <p>LIVE NATION & TICKETMASTER GLOBAL SITES</p>
  </div>
  <p>PRIVACY POLICY | TERMS OF USER</p>
  <p>©2018 LIVE NATION ENTERTAINMENT, INC.  ALL RIGHTS RESERVED.</p>
</div>
