<div id="footer">
  <div id="footer-logos">
    <img src={{this.liveNationLogoFooter}} alt="Live Nation logo link">
    <img src={{this.ticketmasterLogoFooter}} alt="ticketmaster logo link">
    <img src={{this.liveNationMediaAndSponsorshipsLogoFooter}} alt="Live Nation Media & Entertainment logo link">
    <img src={{this.houseOfBluesLogoFooter}} alt="House Of Blues logo link">
    <img src={{this.liveNationProductionsLogoFooter}} alt="Live Nation Productions logo link">
  </div>
  <div id="map-links">
    <p>LIVE NATION & TICKETMASTER GLOBAL SITES</p>
  </div>
  <p>PRIVACY POLICY | TERMS OF USER</p>
  <p>©2018 LIVE NATION ENTERTAINMENT, INC.  ALL RIGHTS RESERVED.</p>
</div>
