<div id="nav-bar-container">
  <div id="nav-bar-inner">
    <div>
      <img id="main-logo" src="http://www.livenationentertainment.com/content/img/global/logo-live-nation.png" alt="Live Nation Entertainment logo">
      <div id="hamburger-icon">
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
      </div>
    </div>
    <ul id="nav-bar">
      <li id="drop-down-btn-1" ngbDropdownToggle ngbDropdown>
        DIVISIONS
        <ul ngbDropdownMenu aria-labelledby="drop-down-btn-1">
          <li>CONCERTS</li>
          <li>TICKETING</li>
          <li>SPONSORSHIP & ADVERTISING</li>
        </ul>
      </li>
      <li>INVESTOR RELATIONS</li>
      <li>LEADERSHIP</li>
      <li>NEWS CENTER</li>
      <li>CAREERS</li>
      <li id="drop-down-btn-2" ngbDropdownToggle ngbDropdown>
        CONTACT
        <ul ngbDropdownMenu aria-labelledby="drop-down-btn-2">
          <li>INVESTOR RELATIONS</li>
          <li>MEDIA RELATIONS</li>
          <li>TICKETING</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
