<div id="nav-bar-container">
  <div id="nav-bar-inner">
    <div>
      <img  routerLink="/" id="main-logo" src={{this.mainLogo}} alt="Live Nation Entertainment logo"/>
      <div id="hamburger-icon" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="nav-bar">
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
      </div>
    </div>
    <ul id="nav-bar"  [ngbCollapse]="!isCollapsed">
      <li id="drop-down-btn-1" ngbDropdownToggle ngbDropdown>
        <div>
          <p>DIVISIONS</p>
          <b class="caret"></b>
        </div>
        <ul ngbDropdownMenu aria-labelledby="drop-down-btn-1">
          <li routerLink="/concerts">CONCERTS</li>
          <li>TICKETING</li>
          <li>SPONSORSHIP & ADVERTISING</li>
        </ul>
      </li>
      <li>INVESTOR RELATIONS</li>
      <li>LEADERSHIP</li>
      <li>NEWS CENTER</li>
      <li>CAREERS</li>
      <li id="drop-down-btn-2" ngbDropdownToggle ngbDropdown>
        <div>
          <p>CONTACT</p>
          <b class="caret"></b>
        </div>
        <ul ngbDropdownMenu aria-labelledby="drop-down-btn-2">
          <li>INVESTOR RELATIONS</li>
          <li>MEDIA RELATIONS</li>
          <li>TICKETING</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
