#nav-bar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  opacity: 1;
  background: url("http://www.livenationentertainment.com/content/img/global/fixed-nav-bg-small.png") top repeat-x;
  min-height: 40px;
}
#nav-bar-inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-bar-inner > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-bar-inner > div img {
  margin-top: 10px;
}
#hamburger-icon {
  margin: 5px 20px 1px 1px;
  padding: 7px 10px;
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
  border-radius: 4px;
  background-color: #0E0E0E;
  background-image: linear-gradient(to bottom,#151515,#040404);
  display: none;
}
.hamburger-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #F5F5F5;
  border-radius: 1px;
}
.hamburger-bar:nth-child(2) {
  margin: 3px 0;
}
#nav-bar > li {
  display: inline;
  margin: 0 15px;
}
#nav-bar > li:last-child {
  margin-right: 20px;
}
#nav-bar li {
  font-size: 15px;
  color: #FFF;
}
.drop-down-links {
  display: none;
}
.dropdown-menu {
  left: 0!important;
  background-color: #222!important;
}
.dropdown-menu li {
  padding-left: 16px;
}
.dropdown-menu li:hover {
  background-color: #af1e2d;
}
.dropdown div {
  display: inline-block;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    margin-top: -4px;
    content: "";
    border-top: 8px solid #999;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.dropdown .caret {
  display: none;
  border-top: 8px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  margin: 5px 0 0 10px!important;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 480px) {
  #nav-bar-container {
    position: relative;
  }
}
@media only screen and (max-width: 767px) {
  #nav-bar-container {
    background-color: #000;
  }
  #main-logo {
    width: 160px;
  }
}
@media only screen and (max-width: 979px) {
  #nav-bar-inner > div img {
    margin-left: 20px;
  }
  #nav-bar-inner {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  #hamburger-icon {
    display: block;
  }
  #nav-bar-inner {
    background: url("http://www.livenationentertainment.com/content/img/global/1px-transparent-black.png");
  }
  #nav-bar-inner > div {
    width: 100%;
  }
  #nav-bar {
    width: 100%;
    padding-left: 20px;
  }
  #nav-bar .caret {
    display: block;
  }
  .dropdown-toggle::after {
    display: none!important;
  }
  #nav-bar > li {
    display: block;
    border-top: 1px solid #222;
    padding: 10px 0 10px 7px;
  }
  #nav-bar > li:hover {
    background-color: #111;
  }
  #nav-bar > li:last-child {
    margin-right: 7px;
  }
  .dropdown-menu {
    position: static!important;
    float: unset!important;
    margin: 10px 15px 0 15px!important;
    padding: 9!important;
  }
  .dropdown-menu li {
    padding-left: 0;
    padding: 10px 15px;
  }
  .dropdown div {
    display: flex!important;
  }
  .dropdown p {
    margin-bottom: 0!important;
  }
}
@media only screen and (max-width: 1200px) {
  #nav-bar > li {
    margin: 0 7px;
  }
  #nav-bar li {
    font-size: 12px;
  }
}
@media only screen and (min-width: 978px) {
  #nav-bar {
    display: block;
    margin-top: 22px;
    margin-bottom: 0;
  }
  .dropdown-menu {
    top: 28px!important;
  }
}
