#we-are-live {
  width: 100%;
  height: 996px;
  overflow: hidden;
  position: relative;
}
#we-are-live-background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("http://www.livenationentertainment.com/content/img/home/bg-1-pharrellwilliams-1715.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#we-are-live-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 176px;
  padding: 20px 0;
  border: 7px solid rgb(170, 170, 170);
  border-radius: 10px;
  margin-bottom: 40px;
  background-image: url("http://www.livenationentertainment.com/content/img/global/1px-transparent-black.png");
  color: rgb(175, 30, 45);
  font-size: 126px;
}
#scroll-down-btn {
  width: 71px;
  height: 71px;
  background: url("http://www.livenationentertainment.com/content/img/global/arrow-no-circle.png") no-repeat;
}
#we-are-the-global-leader {
  width: 100%;
  height: 783px;
  background-image: url("http://www.livenationentertainment.com/content/img/home/bg-2-arena-1715.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#we-are-banner {
  color: #FFF;
  font-size: 60px;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 130px;
  text-align: center;
}
#stats-banner {
  width: 920px;
  display: flex;
  justify-content: space-between;
}
#stats-banner div div {
  display: flex;
  align-items: center;
}
#stats-banner div div div {
  display: flex;
  flex-direction: column;
}
#stats-banner div div img{
  width: 145px;
  height: 145px;
}
#stats-banner  div div div p:first-child {
  color: #AF1E2D;
  font-size: 120px;
  font-weight: 700;
  margin: 0;
}
#stats-banner div div div p:last-child {
  color: #FFF;
  font-size: 25px;
  margin: 0;
}
#every-18-minutes {
  width: 100%;
  height: 1214px;
  overflow: hidden;
  position: relative;
}
#every-18-minutes div{
  background-repeat: no-repeat;
}
#every-18-minutes-background-layer-1 {
  background-image: url("http://www.livenationentertainment.com/content/img/home/bg-coldplay-0-1715.jpg");
  background-position: bottom center;
  background-size: cover;
  width: 110%;
  height: 100%;
  position: absolute;
}
#every-18-minutes-background-layer-2 {
  background-image: url("http://www.livenationentertainment.com/content/img/home/bg-coldplay-1-1715.png");
  background-position: bottom center;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
#every-18-minutes-background-layer-3 {
  background-image: url("http://www.livenationentertainment.com/content/img/home/confetti-0-full.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
#every-18-minutes-background-layer-4 {
  background-image: url("http://www.livenationentertainment.com/content/img/home/confetti-0-full.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
#every-18-minutes-background-layer-5 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #FFF;
  font-size: 47px;
  text-align: center;
}
#every-18-minutes-background-layer-5 span:nth-child(2){
  font-size: 66px;
  font-weight: bold;
}
#every-18-minutes-background-layer-5 span:nth-child(4){
  font-size: 54px;
}
#every-18-minutes-background-layer-6 {
  background-image: url("http://www.livenationentertainment.com/content/img/home/confetti-2-full.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
#global-map {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #FFF;
  background-image: url("http://www.livenationentertainment.com/content/img/concerts/globe-1715.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#four-market {
  width: 100%;
  height: 670px;
  background-color: #000;
  padding: 83px 0;
}
#four-market-background {
  width: 100%;
  height: 100%;
  background-image: url("http://www.livenationentertainment.com/content/img/home/bg-4-1715.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
#four-market-background > div {
  height: 100%;
}
#four-market-background > div:first-child, #four-market-background > div:last-child {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#four-market-middle-bar {
  background-color: #000;
  width: 60px;
}
.concert-links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.concert-links:hover {
  background: url("http://www.livenationentertainment.com/content/img/global/1px-transparent-red.png");
}
.four-market-horizontal-bar {
  height: 60px;
  width: 100%;
  background-color: #000;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 480px) {
  #we-are-live {
    height: 270px;
  }
  #we-are-live-banner {
    width: 372px;
    height: 56px;
    font-size: 40px;
    margin-top: 90px;
  }
  #we-are-banner {
    font-size: 20px;
  }
  #every-18-mintues {
    height: 322px;
  }
  #four-market {
    height: 400px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  #we-are-live {
    height: 432px;
  }
  #we-are-live-banner {
    width: 400px;
    height: 75px;
    font-size: 54px;
  }
  #we-are-banner {
    font-size: 30px;
  }
  #every-18-mintues {
    height: 432px;
  }
  #four-market {
    height: 460px;
  }
}
@media only screen and (max-width: 767px) {
  #we-are-the-global-leader {
    height: 603px;
  }
  #stats-banner div div div p:first-child {
    font-size: 90px;
  }
  #stats-banner div div div p:last-child {
    font-size: 19px;
  }
  #stats-banner div div img{
    width: 110px;
    height: 110px;
  }
  #global-map {
    height: 250px;
    font-size: 32px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  #we-are-live {
    height: 551px;
  }
  #we-are-banner {
    font-size: 50px;
  }
  #every-18-mintues {
    height: 702px;
  }
  #four-market {
    height: 600px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 979px) {
  #we-are-live-banner {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 979px) {
  #four-market-background {
    flex-direction: column;
  }
  #four-market-middle-bar, .four-market-horizontal-bar {
    display: none;
  }
  .concert-links {
    border-bottom: 10px solid #000;
  }
}
@media only screen and (min-width: 978px) and (max-width: 1024px) {
  #we-are-live {
    height: 576px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1024px) {
  #every-18-mintues {
    height: 714px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #we-are-live-banner {
    width: 640px;
    height: 112px;
    font-size: 80px;
  }
}
@media only screen and (max-width: 1024px) {
  #we-are-banner {
    margin-top: 0;
    margin-bottom: 0;
  }
  #stats-banner {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  #four-market-middle-bar {
    width: 20px;
  }
  .four-market-horizontal-bar {
    height: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  #global-map {
    height: 350px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1024px) {
  #four-market {
    height: 400px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  #we-are-live {
    height: 675px;
  }
  #we-are-live-banner {
    width: 800px;
    height: 140px;
    font-size: 100px;
  }
  #every-18-mintues {
    height: 900px;
  }
  #four-market {
    height: 468px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 2000px) {
  #we-are-live {
    height: 966px;
  }
}
@media only screen and (min-width: 2001px) {
  #we-are-live {
    height: 1126px;
  }
}
