<div id="we-are-live">
  <div id="we-are-live-background">
    <div id="we-are-live-banner">
      WE ARE LIVE
    </div>
    <div id="scroll-down-btn"></div>
  </div>
</div>
<div id="we-are-the-global-leader">
  <div id="we-are-banner">
    WE ARE THE GLOBAL LEADER<br>
    FOR LIVE ENTERTAINMENT
  </div>
  <div id="stats-banner">
    <div>
      <div>
        <img src={{this.userProfileIcon}} alt="user profile icon">
        <div>
          <p>550</p>
          <p>MILLON FANS</p>
        </div>
      </div>
    </div>
    <div>
      <div>
        <img src={{this.globeIcon}} alt="globe icon">
        <div>
          <p>40</p>
          <p>COUNTIRIES</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="every-18-minutes">
  <div id="every-18-minutes-background-layer-1"></div>
  <div id="every-18-minutes-background-layer-2"></div>
  <div id="every-18-minutes-background-layer-3"></div>
  <div id="every-18-minutes-background-layer-4"></div>
  <div id="every-18-minutes-background-layer-5">
    <p>
      SOMEWHERE IN THE WORLD<br>
      <span>EVERY 18 MINUTES</span><br>
      <span>IS A LIVE NATION EVENT</span>
    </p>
  </div>
  <div id="every-18-minutes-background-layer-6"></div>
</div>
<div id="global-map">
  <p>VIEW OUR GLOBAL MAP OF FESTIVALS & VENUES</p>
</div>
<div id="four-market">
  <div id="four-market-background">
    <div>
      <div class="concert-links">
        <img src={{this.liveNationConcertsLogoGrey}} alt="Live Nation Concerts link logo">
      </div>
      <div class="four-market-horizontal-bar"></div>
      <div class="concert-links">
        <img src={{this.liveNationMediaAndSponsorshipsLogoGrey}} alt="Live Nation Media & Sponsorships link logo">
      </div>
    </div>
    <div id="four-market-middle-bar"></div>
    <div>
      <div class="concert-links">
        <img src={{this.ticketmasterLogoGrey}} alt="ticketmaster link logo">
      </div>
      <div class="four-market-horizontal-bar"></div>
      <div class="concert-links">
        <img src={{this.liveNationEntertainmentLogoGrey}} alt="Live Nation Entertainment link logo">
      </div>
    </div>
  </div>
</div>
