<div id="we-are-live">
  <div id="we-are-live-background">
    <div id="we-are-live-banner">
      WE ARE LIVE
    </div>
    <div id="scroll-down-btn"></div>
  </div>
</div>
<div id="we-are-the-global-leader">
  <div id="we-are-banner">
    WE ARE THE GLOBAL LEADER<br>
    FOR LIVE ENTERTAINMENT
  </div>
  <div id="stats-banner">
    <div>
      <div>
        <img src="https://png.pngtree.com/svg/20160308/_user_profile_icon_1108089.png" alt="user profile icon">
        <div>
          <p>550</p>
          <p>MILLON FANS</p>
        </div>
      </div>
    </div>
    <div>
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Globe_icon.svg/2000px-Globe_icon.svg.png" alt="globe icon">
        <div>
          <p>40</p>
          <p>COUNTIRIES</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="every-18-minutes">
  <div id="every-18-minutes-background-layer-1"></div>
  <div id="every-18-minutes-background-layer-2"></div>
  <div id="every-18-minutes-background-layer-3"></div>
  <div id="every-18-minutes-background-layer-4"></div>
  <div id="every-18-minutes-background-layer-5">
    <p>
      SOMEWHERE IN THE WORLD<br>
      <span>EVERY 18 MINUTES</span><br>
      <span>IS A LIVE NATION EVENT</span>
    </p>
  </div>
  <div id="every-18-minutes-background-layer-6"></div>
</div>
